{% extends "container.html" %}

{% block title %}| {{title}}{%endblock%}

{% block body %}

<style type="text/css">

    h1 {

    font-size: 25px;

    }

</style>

<h1>{{title}}</h1>
    {% if results %}
    <p>{{results|length}} résultats correspondent à votre recherche :</p>
        <ul>
            {% for site in results %}
                <li><a href="{{url_for('site', Id=site.Id)}}">{{site.Nom}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
    <p>Aucun résultat ne correspond à votre recherche.</p>
    {% endif %}
{% endblock %}