{% extends "container.html" %}

{% block title %}| Search{{title}}{%endblock%}

{% block body %}

<style type="text/css">

    h1 {
    font-size: 25px;
    }

    .results {
        list-style-type: none;
    }

</style>

<br>
<h1>{{title}}</h1>
    {% if results %}
    <p>{{results|length}} results match your search :</p>
    <br>
        <ul class="results">
            {% for site in results %}
                <li class="results"><a href="{{url_for('site', Id=site.Id)}}">{{site.Nom}}</a></li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
    <p>Aucun résultat ne correspond à votre recherche.</p>
    {% endif %}
{% endblock %}