{% extends "conteneur.html" %}
{% block corps %}

<style type="text/css">

    h1 {
        text-align: left;
        margin-left: 40px;
        text-transform: uppercase;
        font-size: 35px;
        margin-bottom: 6px;
    }

   .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto, auto, auto;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }

    .images { margin: auto; }

    .gallery {
      background-color : #f7f6f5;
      border: 1px solid #d9cfcc;
      border-radius: 4px;
      margin: 20px;
      padding-top: 3px;
      padding-left: 3px;
      padding-right: 3px;
      padding-bottom: 10px;
      float: left;
      width: 300px;
     }

    .gallery img {
        display: inline;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .legend { font-size: 10px; }

    dt {
        text-align: left;
        margin-left: 40px;
        font-weight: 550;
    }


    dd {
        margin: 15px;
        text-align: justify;
        font-size: 17px;
        line-height: 1.5;
    }

    .website {
        margin: auto;
    }

</style>

        <!-- nom du site archéologique -->
        <h1>{{site.Nom}}</h1>

        <div class="container">
        <!-- description du site archéologique -->
            <div class="presentation">
                <dl>
                    {% if site.Description %}
                    <dd>{{site.Description}}</dd>
                    {% endif %}
                    <dt>Adresse</dt><dd>{{site.Adresse}}</dd>
                    <dt>Période</dt><dd>{{site.Periode}}</dd>
                    {% if site.Lien %}
                    <dt>Site internet</dt><dd><a class="website" href="{{site.Lien}}">‣ Visitez le site officiel</a></dd>
                    {% endif %}
                </dl>
            </div>


        <!-- images du site archéologique -->
            <div class="images">
                {% for image in image %}
                <div class="gallery">
                    <a href="{{image.Source}}"><img src="{{url_for('static', filename=image.Image)}}" alt="IMAGE"/></a>
                    {% if image.Legende %}
                    <a class="legend" href="{{image.Source}}">{{image.Legende}}</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        {% if not current_user.is_authenticated %}
            <ul class="nav">
                <li class="nav-link"><a href="{{url_for('suppression', Id=site.Id)}}">Suppression</a></li>
                <li class="nav-link"><a href="{{url_for('modification', Id=site.Id)}}">Modification</a></li>
            </ul>
        {% endif %}

{% endblock %}