{% extends "conteneur.html" %}

{% block titre %}| Participer{%endblock%}

{% block corps %}

<h1>Participer</h1>
<p>Ajoutez un site archéologique à notre base de données</a>.</p>

<!-- Formulaire -->
<form class="form" method="POST" action="{{url_for('creation')}}">
  <div class="form-group row">
    <label for="nom-site" class="col-sm-2 col-form-label">Nom*</label>
    <div class="col-sm-10">
      <input type="text" id="nom-site" name="nom" placeholder="Nom du site archéologique">
    </div>
  </div>
  <div class="form-group row">
    <label for="adresse-site" class="col-sm-2 col-form-label">Adresse*</label>
    <div class="col-sm-10">
      <input type="text" id="adresse-site" placeholder="Adresse" name="adresse">
    </div>
  </div>
  <div class="form-group row">
    <label for="latitude-site" class="col-sm-2 col-form-label">Latitude*</label>
    <div class="col-sm-10">
      <input type="text" id="latitude-site" placeholder="Latitude" name="latitude">
    </div>
  </div>
  <div class="form-group row">
    <label for="longitude-site" class="col-sm-2 col-form-label">Longitude*</label>
    <div class="col-sm-10">
      <input type="text" id="longitude-site" placeholder="Longitude" name="longitude">
    </div>
  </div>
  <div class="form-group row">
    <label for="description-site" class="col-sm-2 col-form-label">Description*</label>
      <div class="col-sm-200">
        <input size="60" type="text" id="description-site" placeholder="Description" name="description">
      </div>
  </div>
  <div class="form-group row">
    <label for="periode-site" class="col-sm-2 col-form-label">Période*</label>
      <div class="col-sm-200">
        <input type="text" id="periode-site" placeholder="Fourchette chronologique" name="periode">
      </div>
  </div>
  <!--
  <div class="form-group row">
    <label for="image-site" class="col-sm-2 col-form-label">Image</label>
      <div class="col-sm-60">
        <input type="image" id="image-site" placeholder="Image" name="image">
      </div>
  </div>
  -->
  <br/>

  <!-- Bouton "modifier" -->
  <div>
    <button type="submit" class="btn btn-primary">Ajoutez le site archéologique</button>
  </div>
</form>
{% endblock %}